<div class="dashboard">
  <div class="dashboard-outlet">
    <div class="modules-container">
      <div [routerLink]="['/orders']" class="module-tab">
        <h3>Orders</h3>
        <p class="module-info">See recent orders or create a new one</p>
      </div>
      <div [routerLink]="['/reservations']" class="module-tab">
        <h3>Reservations</h3>
        <p class="module-info">Make a reservation for a product or manage existing ones</p>
      </div>
      <div [routerLink]="['/rent']" class="module-tab">
        <h3>Rent</h3>
        <p class="module-info">Products rent management and information</p>
      </div>
    </div>

    <div class="charts-container">
      <div class="orders-chart">
        <h4>Last orders per month:</h4>
        <div *ngIf="barChartData && barChartLabels" class="chart-container">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [colors]="lineChartColors"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>

      <div class="orders-chart">
        <h4>Orders statuses:</h4>
        <div *ngIf="barChartData && barChartLabels" class="chart-container">
          <canvas baseChart
                  [datasets]="orderStatusesChartData"
                  [labels]="orderStatusesLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [colors]="statusesChartColors"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
