<!-- <nz-modal [nzFooter]="null" [(nzVisible)]="isVisible" [nzTitle]="editMode ? 'Edit the order' : 'Create new order'" (nzOnCancel)="close()">
  <div *ngIf="order">
    <label>name</label>
    <input nz-input type="text" [(ngModel)]="order.name">

    <label>subject</label>
    <input nz-input type="text" [(ngModel)]="order.subject">

    <label>status</label>
    <input nz-input type="text" [(ngModel)]="order.status">

    <label>creationDate</label>
    <input nz-input type="text" [(ngModel)]="order.creationDate">

    <label>author</label>
    <input nz-input type="text" [(ngModel)]="order.author">

    <label>value</label>
    <input nz-input type="number" [(ngModel)]="order.value">
  </div>
  <footer>
    <button nzType="primary" (click)="saveOrder()">{{ editMode ? 'Save changes' : 'Create new order'}}</button>
  </footer>
</nz-modal> -->
