<div class="menu-wrapper">
  <ul class="main-menu">
    <li [routerLink]="['/']" class="menu-item" data-title="home">
      <i nz-icon nzType="home" nzTheme="outline"></i>
    </li>
    <li [routerLink]="['/orders']" class="menu-item" data-title="orders">
      <i nz-icon nzType="form" nzTheme="outline"></i>
    </li>
    <li [routerLink]="['/reservations']" class="menu-item" data-title="reservations">
      <i nz-icon nzType="book" nzTheme="outline"></i>
    </li>
    <li [routerLink]="['/rent']" class="menu-item" data-title="rent">
      <i nz-icon nzType="database" nzTheme="outline"></i> 
    </li>
    <i nz-icon nzType="line" nzTheme="outline"></i>
    <li [routerLink]="['/clients']" class="menu-item" data-title="clients">
      <i nz-icon nzType="user" nzTheme="outline"></i>
    </li>
    <li [routerLink]="['/products']" class="menu-item" data-title="products">
      <i nz-icon nzType="ordered-list" nzTheme="outline"></i>
    </li>
  </ul>
</div>
